* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main__container {
  background: #000;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__container .boxes {
  width: 150px;
  height: 150px;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.main__container .boxes__box1, .main__container .boxes__box2, .main__container .boxes__box3, .main__container .boxes__box4 {
  width: 75px;
  height: 75px;
  background: #27b044;
}

.main__container .boxes__box1 {
  -webkit-animation: fade 1.5s 0.1s linear infinite;
          animation: fade 1.5s 0.1s linear infinite;
}

.main__container .boxes__box2 {
  -webkit-animation: fade 1.5s 0.4s linear infinite;
          animation: fade 1.5s 0.4s linear infinite;
}

.main__container .boxes__box3 {
  -webkit-animation: fade 1.5s 1s linear infinite;
          animation: fade 1.5s 1s linear infinite;
}

.main__container .boxes__box4 {
  -webkit-animation: fade 1.5s 0.7s linear infinite;
          animation: fade 1.5s 0.7s linear infinite;
}

.main__container .bounce {
  height: 50px;
  width: 50px;
  position: relative;
}

.main__container .bounce__dot1 {
  height: 50px;
  width: 50px;
  position: absolute;
  background: rgba(3, 207, 252, 0.5);
  border-radius: 100%;
  -webkit-animation: bounce 1s linear infinite alternate;
          animation: bounce 1s linear infinite alternate;
}

.main__container .bounce__dot2 {
  height: 50px;
  width: 50px;
  position: absolute;
  background: #03cffc;
  border-radius: 100%;
  -webkit-animation: bounce1 1s linear infinite alternate;
          animation: bounce1 1s linear infinite alternate;
}

@-webkit-keyframes fade {
  0%,
  100% {
    opacity: 1;
  }
  25%,
  50% {
    opacity: 0;
  }
}

@keyframes fade {
  0%,
  100% {
    opacity: 1;
  }
  25%,
  50% {
    opacity: 0;
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
    opacity: 0.5;
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
    opacity: 0.5;
  }
}

@-webkit-keyframes bounce1 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes bounce1 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
/*# sourceMappingURL=style.css.map */